@page "/demo-quill-anidado"
@using WebBlazor_JS
@using WebBlazor_JS.Components
@using WebBlazor_JS.Components.Pages.DemosComponent.Quill.Component


@rendermode InteractiveServer
@attribute [StreamRendering]

<h3>Demo Quill Anidado</h3>

<div class="col-12">

    <div class="card col-12">
        <div class="card-header">
            <h3>Entrada de texto inicial</h3>
        </div>
        <div class="card-body">
            <InputText class="form-control" @bind-Value="contents" ></InputText>            
        </div>

        <div class="form-group">            
            <InputCheckbox for="chkQuill" class="form-check-input" @bind-Value="esVisible">sdfdsf</InputCheckbox>
            <label id="chkQuill" class="form-label">Mostrar QUILL</label>
        </div>
    </div>

    @if(esVisible)
    {
        <div class="card col-12">
            <div class="card-body">
                <Quill @bind-Contents="contents"></Quill>
            </div>
        </div>
    }

    <div class="card col-12">
        <div class="card-body">
            @contents
        </div>
    </div>
</div>

@code {
    bool esVisible;
    string contents;
}
