<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ejemplo_JS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplo1">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ejemplo 1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplo2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ejemplo 2
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplo3">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ejemplo 3
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplo4">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ejemplo 4
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplo5">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ejemplo 5
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ejemplo6">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ejemplo 6
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo-ejemplo6">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Demo 6
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo-ejemplo7">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Demo 7
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo-ejemplo8">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Demo 8
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo-ejemplo8-anidado">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Anidado 8
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo-quill">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> quill
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo-quill-anidado">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> anidado quill
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo-google-maps">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> google maps
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo-google-maps-components">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> google maps components
            </NavLink>
        </div>
    </nav>
</div>

