@page "/demo-ejemplo8"
@using WebBlazor_JS
@using WebBlazor_JS.Components
@using WebBlazor_JS.Components.Pages.DemosComponent.Modelo.Component

@rendermode InteractiveServer
@attribute [StreamRendering]

<h3>Demo 8</h3>

<Ejemplo8 ></Ejemplo8>

@code {
}
