<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WebBlazor_JS.styles.css" />

    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="css/quill/quill.snow.css" />

    <style>
        --sxs {
            --sxs: 0;
        }
        
    </style>

    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="js/Ejemplo1/main.js?v=18"></script>
    <script src="js/Ejemplo2/main.js?v=18"></script>
    <script src="js/Ejemplo3/main.js?v=18"></script> 
    <script src="js/Ejemplo4/main.js?v=18"></script>
    <script src="js/Ejemplo5/main.js?v=18"></script>
    <script src="js/Ejemplo8/main-bundle.js?v=18"></script>

    <script src="js/quill/quill.min.js?v=19"></script>

    <script src="js/googlemaps/googlemaps.min.js?v=4"></script>

    <script src="js/downloadfile/downloadFileFromStream.js?v=3"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
